* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-card {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.image-card {
  height: 200px;
  overflow: hidden;
}

.card {
  position: relative;
}

.button-card {
  position: absolute;
  bottom: 50px;
  left: 30%;
}

.button-card-border {
  position: absolute;
  bottom: 20px;
  left: 30%;
  border: 1px solid #ed1b2f;
}

.text-about {
  text-align: center;
  padding: 40px 0;
}
